@model IEnumerable<HelpDesk.Models.VistaParcial.ViewTiket>

@{
    ViewData["Title"] = "Tikets";
}

<h1 class="text-center">Estos son Sus Tikets <i class="fas fa-ticket-alt"></i> </h1>
<hr />

<p>
    <a class="btn btn-success" asp-action="Create">Crear Nuevo Tiket <i class="fas fa-plus-circle"></i></a>
</p>
<br />

<div class="row">
    @foreach (var item in Model) 
{   
<div class="col-md-3 mb-4">
        <div class="card">
            <div class="card-header">
                <div class="text-center">
                    Numero de Ticket   @Html.DisplayFor(modelItem => item.No_Tiket)
                <a  class="fs-4" href="~/Tiket/Details/@item.No_Tiket"><i class="fas fa-eye"></i></a> 
                <a class="" href="~/Tiket/Delete/@item.No_Tiket"><i class="far fa-trash-alt fs-1"> </i></a>
                </div>
            </div>
            <div class="card-body">
                <label for="">@Html.DisplayFor(modelItem => item.Asunto)</label>
            </div>
            <div class="card-body fs-5">
                <label class="fs-6 form-group">Usuario: @Html.DisplayFor(modelItem => item.NombreUsuario)</label>
                <div>
                         Fecha: @Html.DisplayFor(modelItem => item.FechadeTiket)
                </div>
            </div>
        </div>
</div>
}
</div>

